<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn">Make Payment</button>
        <button ng-click="demoApp.getPayments()" type="button" class="btn btn-default navbar-btn"><span
                class="glyphicon glyphicon-refresh"></span></button>
    </div>
</nav>
<script type="text/ng-template" id="demoAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Add new Payment</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="payerName" class="control-label">Payer Name:</label>
                <input type="text" ng-model="modalInstance.form.payerName" class="form-control" id="payerName">
            </div>
            <div class="form-group">
                <label for="payerAccount" class="control-label">Payer Account (Int):</label>
                <input type="text" ng-model="modalInstance.form.payerAccount" class="form-control" id="payerAccount">
            </div>
            <div class="form-group">
                <label for="amount" class="control-label">Amount (Int):</label>
                <input type="text" ng-model="modalInstance.form.amount" class="form-control" id="amount">
            </div>
            <div class="form-group">
                <label></label>
                <label for="counterparty" class="control-label">Payee-party:</label>
                <select ng-model="modalInstance.form.counterparty" class="form-control" id="counterparty"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="payeeName" class="control-label">Payee Name:</label>
                <select ng-model="modalInstance.form.payeeName" class="form-control" id="payeeName">
                    <option value="O=Verizon,L=NY,C=US">Verizon</option>
                    <option value="O=PGE,L=SF,C=US">PGE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="payeeAccount" class="control-label">Payee Account (Int):</label>
                <input type="text" ng-model="modalInstance.form.payeeAccount" class="form-control" id="payeeAccount">
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Payment parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Make Payment</button>
        </div>
    </form>
    </div>
</script>
<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.payments.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded Payments</h3>
            </div>
            <div class="panel-body">Use the "Make Payment" button to send an Payment to a peer.</div>
        </div>
        <div ng-show="demoApp.payments.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded Payments:</h3>
            </div>
        </div>
        <div ng-repeat="paymentState in demoApp.payments" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Payer: {{paymentState.payer}}</li>
                    <li>PayerName: {{paymentState.payment.payerName}}</li>
                    <li>PayerAccount: {{paymentState.payment.payerAccount}}</li>
                    <li>Payee: {{paymentState.payee}}</li>
                    <li>PayeeName: {{paymentState.payment.payeeName}}</li>
                    <li>PayeeAccount: {{paymentState.payment.payeeAccount}}</li>
                    <li>Amount: {{paymentState.payment.amount}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>